.App  {

  text-align: center;
 
  color: bisque;
  
 
}
.ProfilePhoto{

margin-top: 20px ;
width: 400px;


}



h1:hover,h2:hover{

  background-color: chocolate;
}


body{


  background-color:black;

}
